@model HomeBudget.ViewModels.EarningViewModel

@{
    ViewBag.Title = "Earning";
}

<h2>Details</h2>

<div>
    <h4>Earning</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Earning.BankAccount.AccountName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Earning.BankAccount.AccountName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Earning.Income)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Earning.Income)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Earning.EarningCategory.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Earning.EarningCategory.CategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Earning.EarningSubCategory.SubCategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Earning.EarningSubCategory.SubCategoryName)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Earning.DateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Earning.DateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Earning.Note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Earning.Note)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Earning.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
