@model HomeBudget.ViewModels.EarningViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Earnings</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Earning.BankAccount.AccountName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Earning.AmountOfMoney)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Earning.Category.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Earning.SubCategory.SubCategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Earning.DateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Earning.Note)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.ListOfEarnings) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BankAccount.AccountName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AmountOfMoney)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category.CategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubCategory.SubCategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Note)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
