@model IEnumerable<HomeBudget.Models.Earning>

@{
    ViewBag.Title = "Index";
}

<h2>Earnings</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BankAccount.AccountName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EarningCategory.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EarningSubCategory.SubCategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Income)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Note)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BankAccount.AccountName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EarningCategory.CategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EarningSubCategory.SubCategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Income)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Note)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
