@model HomeBudget.ViewModels.TransferViewModel

@{
    ViewBag.Title = "Transfer";
}

<h2>Details</h2>

<div>
    <h4>Transfer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Transfer.AmountTransferred)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Transfer.AmountTransferred)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Transfer.SourceBankAccount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Transfer.SourceBankAccount.AccountName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Transfer.TargetBankAccount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Transfer.TargetBankAccount.AccountName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Transfer.DateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Transfer.DateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Transfer.Note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Transfer.Note)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Transfer.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
