@model HomeBudget.ViewModels.TransferViewModel

@{
    ViewBag.Title = "Transfers";
}

<h2>Transfers</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Transfer.AmountTransferred)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Transfer.SourceBankAccountId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Transfer.TargetBankAccountId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Transfer.DateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Transfer.Note)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.ListOfTransfers) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AmountTransferred)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SourceBankAccountId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TargetBankAccountId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Note)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
