@model HomeBudget.ViewModels.EarningSubcategoryViewModel

@{
    ViewBag.Title = "EarningSubCategory";
}

<h2>Details</h2>

<div>
    <h4>EarningSubCategory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SubCategory.Category.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubCategory.Category.CategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubCategory.SubCategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubCategory.SubCategoryName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SubCategory.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
