@model HomeBudget.ViewModels.ExpenseViewModel

@{
    ViewBag.Title = "Expense";
}

<h2>Details</h2>

<div>
    <h4>Expense</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Expense.BankAccount.AccountName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Expense.BankAccount.AccountName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Expense.Cost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Expense.Cost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Expense.ExpenseCategory.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Expense.ExpenseCategory.CategoryName)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Expense.ExpenseSubCategory.SubCategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Expense.ExpenseSubCategory.SubCategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Expense.DateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Expense.DateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Expense.Note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Expense.Note)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Expense.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
