@model HomeBudget.ViewModels.ExpenseViewModel

@{
    ViewBag.Title = "Expenses";
}

<h2>Expenses</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Expense.BankAccount.AccountName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Expense.AmountOfMoney)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Expense.SubCategory.Category.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Expense.SubCategory.SubCategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Expense.DateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Expense.Note)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.ListOfExpenses) {
    <tr>/
        <td>
            @Html.DisplayFor(modelItem => item.BankAccount.AccountName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AmountOfMoney)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubCategory.Category.CategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubCategory.SubCategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateTime.DayOfWeek)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Note)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
